@model Recipes.Models.Review


<div class="panel panel-success">
    <div asp-validation-summary="All"></div>
    <form asp-action="Review" method="post">
        <input type="hidden" asp-for="RecipeId"/>
        <input type="hidden" asp-for="ReviewId"/>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <textarea asp-for="Name" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Comments">Please Enter a Review For This Recipe:</label>
            <textarea cols="50" rows="10" class="form-control" asp-for="Comments"></textarea>
        </div>
        <div class="form-group, text-center">
            <label>
                @Html.RadioButtonFor(m => m.Rating, "1 star")
                1 Star
            </label>
            <label>
                @Html.RadioButtonFor(m => m.Rating, "2 stars")
                2 Stars
            </label>
            <label>
                @Html.RadioButtonFor(m => m.Rating, "3 stars")
                3 Stars
            </label>
            <label>
                @Html.RadioButtonFor(m => m.Rating, "4 stars")
                4 Stars
            </label>
            <label>
                @Html.RadioButtonFor(m => m.Rating, "5 stars")
                5 Stars
            </label>
        </div>
        <div class="text-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">Submit Review</button>

        </div>
    </form>
</div>
